<head>
    <!--own css-->
    <link rel="stylesheet" href="/style/publications.css">
    <!--css bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--js bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--Header-->
    <%- include('partials/header') %>
    <script>
        $( "#homeLink" ).addClass('active');
        function changeText(button){
            const buttonSelect = $(button);
            if(buttonSelect.val()=='Show more'){
                buttonSelect.val('Show less');
            }else{
                buttonSelect.val('Show more');
            }
        }
    </script>
    <style>
        footer {
    clear: both;
    position: relative;
    margin-top: 2000px;
}
.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
    </style>
</head>
<body style="background-color:dddddd; height: 1000px; font-family: 'Times New Roman', Times, serif;">
        <div class="card" style="background-color:660000; width:100%; border-radius:0;">
                <div class="card-body">
                        <div style="display:flex;justify-content: center; color:white; ">
                    <p class = "h1">
                        About Munoz Group
                    </p>
                </div>
                <p  style="color:white">
                        Research group focused on the chemistry of Main Group Complexes as catalysts for the ROP
                        of lactides and lactones, catalysts for Diels-Alder reactions, as Single Source Precursors of
                        thin films of metallic chalcogenides, and Supramolecular Coordination Polymers.  
                </p>
                <div class="row">
                    <div class="col" style="width: 50%;">
                        <div class="collapse multi-collapse" id="multiCollapseAbout">
                            <p style="color:white">
                                adfjddlfdkslfjdklfjdklfjdklfjdskljfkldfjkdljfkldjfldkfjdklfjklsdjfkldsdjfklsjfkdlsdfjkdlsdjfkdsdfjdsdklfjdkslfjdklsjfdsdfkldsjfkldjfdkljfkldjfkldjfkldsjfkldlsjfkldsjfkldsjfkldsjfkldsjfkldjfkldjfkdljfkdlsfjdkslfjdkslfjdklfjdklfjdklfjkdljfkldjfkldjfkdljfkdljfdkljfdklsjfdklsjfkdlfjdkslfjdlskajfdlskfjdskdlfjdñkfdjklafjdklfjdkllajlfdjfkaldjflkdjfadñalfdklñafjdsñkljfñklajdklfjdkañslfjkdlañsjfdsklfjdaskslñfjdkldfdasfdfdsfdafafdfdfdafdafdfdsafdsasafdsfdsfdsasfda 
                            </p>
                        </div>
                    </div>
                </div>
                <div style="display:flex;justify-content: center;">
                        <input type="button" class="btn btn-primary" data-toggle="collapse" href="#multiCollapseAbout" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" value="Show more" style="background-color: 073763; border: 2px solid black" onclick="changeText(this)">
                </div>
            </div>
            </div>
<div class = "container" style="width: 500px;">   
    <div class ="row">
    <div class ="col" style="position: absolute; top: auto; bottom: auto; left:0; right:0; width: 50%; height: 100%;">
    <p class = "h1" style="width: 500px;">Recent publications</p>
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"   data-interval="5000">
            <ol class="carousel-indicators" style="background-color:073763;">
                <% for (var i = 0 ; i < carouselInfo.length ; i ++ ) { %>
                    <li data-target="#carouselExampleCaptions" data-slide-to="<%=i%>" class="<%= i === 0 ? 'active' : '' %>"></li>
                <% } %>
            </ol>
            <div class="carousel-inner">
                <% for (var i = 0 ; i < carouselInfo.length ; i ++ ) { %>
                       <div class = "carousel-item <%= i === 0 ? 'active' : '' %>" > 
                        <a href="<%= carouselInfo[i].webUrl%>" target="_blank">
                            <img class="d-block w-100 publicationsHome" data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide" alt="First slide [800x400]" src= <%= '/img/' + carouselInfo[i].imageUrl %> data-holder-rendered="true">
                            <div class="carousel-caption d-none d-md-block" style="color:073763;">
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" style="background-color:073763; width:20px;">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next" style="background-color:073763; width:20px;">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class = "col" style="position: absolute; top: auto; left:auto; right:0; width: 50%; height: 100%;">
        <p class = "h1" style="width: 500px; align-content:right;">Group news</p>
            <% for (var i = 0 ; i < newsInfo.length ; i ++) { %>
                <div class="card" style="background-color:gray; width:100%; border-radius: 0px;">
                    <div class="card-body">
                        <div style="display:flex;justify-content: center; color:white; ">
                            <p class = "h2">
                                <%= newsInfo[i].title %>
                            </p>
                        </div>
                        <p  style="color:white">
                            <%= newsInfo[i].shortPrefixContent %> 
                            <div style="color:white;" class="collapse multi-collapse" id="<%='multiCollapseExample'+i %>">
                                <%= newsInfo[i].longSufixContent%>
                            </div>
                        </p>
                        <div class="row">
                            <div class = "col" >
                                <img src="<%='/img/'+ newsInfo[i].imagePath %>" class="img-fluid" style="float: right; max-height: 130px;" >
                            </div>
                        </div>
                        <div style="display:flex;justify-content: center;">
                            <input <%=newsInfo[i].longSufixContent?'':'hidden'%> type="button" class="btn btn-primary" data-toggle="collapse" href="<%= '#multiCollapseExample' + i %>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" value="Show more" style="background-color: 073763; border: 2px solid black;" onclick="changeText(this)">
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
</body>
